<div class="menu__signin-modal">
    <h2>{{ctrl.options.title}}</h2>
    <form name="signinForm" ng-submit="ctrl.confirm(ctrl.user)" class="col-xs12">
        <div class="form-group">
            <label for="">Email</label>
            <input ng-model="ctrl.user.email" type="email" name="email" class="form-control menu__signin-modal-email" value="">
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input ng-model="ctrl.user.password" type="password" name="password" class="form-control menu__signin-modal-password" value="">
        </div>
        <div class="form-group">
            <button type="button" ng-click="ctrl.cancel()" class="menu__signin-modal-btn col-sm-6 btn">Cancel</button>
            <button type="submit" class="menu__signin-modal-btn btn col-xs-12 col-sm-6">Signin</button>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
