.btn {
    font-family: 'Roboto Regular', sans-serif;
    color: $primary-color;
    background-color: $btn-background-color;
    padding: 11px 25px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
    border-radius: 2px;
    transition: all 0.3s ease;
    text-transform: uppercase;

    &:hover, &:focus{
        color: white;
        background-color: $btn-background-color-hover;
    }

    &:active {
        background-color: $btn-background-color-active;
        box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
    }

    .glyphicon::before {
        font-size: 17px;
    }
}

.btn:disabled {
    padding: 0;
    font-size: 0.8em;;
    transition: all 0.3s ease;
    background: $btn-disabled-background;
    color: $btn-disabled-color;
    &:hover{
        color: $background-button-color;
    }
}

.btn-primary:focus {
    background: $accent-background-button-color;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image:none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
    outline-style: none;
}

.btn-inverse:active, .btn-inverse.active {
  background-color: $accent-background-button-color \9;
}
