.form-control{
    height: 45px;
    font-size: 16px;
}

.form-group{
    position:relative;
    margin-bottom: 30px;

    .messages {
        position: absolute;
        bottom: -25px;
        font-size: 0.8em;
        left: 35px;
        width: 100%;
        height: 21px;
        text-align: left;

        .error-message {
            position: absolute;
            width: 100%;
            &.text-danger {
                color: $accent-color;
            }
        }
    }
}

input[type=text].material-text , input[type=password].material-text{
    border: 1px solid $icon-color-default;
    border-width: 0 0 1px;

    &:active, &:focus {
        border: 1px solid $genymotion-pink;
        border-width: 0 0 1px;
        box-shadow: none;
    }
}

* {
    outline: none;
}
