
.auth-form {
    @include box-shadow(0, 10px, 20px, rgba(0,0,0,0.8));
    background-color: $primary-background-color;
    border-radius: 4px;
    padding: 30px;

    &__navigation-wrapper {
        margin-top: 20px;

        a {
            color: $accent-color;
        }
    }
}
