$blue:              #6CA8B0;
$red:               #E74C3C;
$orange:            #eda642;
$orangish:          #E3463C;
$purple:            #6E4F6A;
$pinkish:           #7D5374;
$green:             #73C95D;
$background:        #f9fbff;
$background-footer: #092639;
$text-color:        #424242;


// $yellow:            #e3ad58;
// $brown:             #e3ad58;
// $red:               #dc6552;
// $blue-dark:         #413b4b;

$primary-text:      #646f8d;

$blue:              #33b1f8;
$low-blue:          #6e90f6;
$dark-blue:         #34495e;
$midnight-blue:     #2c3e50;
$green:             #2ecc71;
$low-green:         #27ae60;
$turquoise:         #1abc9c;
$low-turquoise:     #16a085;
$yellow:            #f1c40f;
$orange:            #f39c12;
$low-orange:        #e67e22;
$red:               #e74c3c;
$low-red:           #c0392b;

$light-grey:        lighten(#ecf0f1, 4%);
$silver:            #bdc3c7;
$grey:              #95a5a6;
$low-grey:          #95a5a6;
