$blue:              #1D60B4;
$red:               #E74C3C;
$orangish:          #E3463C;
$yellow:            #eda642;
$purple:            #7843d3;
$pinkish:           #7D5374;
$green:             #73C95D;
$background:        #f9fbff;
$background-footer: #092639;
