// Color palette definition
$android:                           #A4C639;
$android-light:                     #c2d97b;
$android-ultra-light:               #e1ecbd;
$primary-color:                     #FFFFFF;
$dark-accent-color:                 #9f0a3e;
$primary-icon-color:                #FFFFFF;
$accent-icon-color:                 #EF0F5D;
$highlight-icon-color:              #3C3C39;
$primary-background-color:          #FFFFFF;
$accent-background-color:           #EAEAEA;
$dark-background-color:             #303030;
$primary-text-color:                #303339;
$secondary-text-color:              #E6195E;
$light-text-color:                  #CCCCCC;
$mid-text-color:                    #828282;
$background-button-color:           #828282;
$accent-background-button-color:    #EF0F5D;
$geny-green:                        #84BE5D;


// NEW STYLE

$background-color-default: #161616;
$menu-background: #161616;
$core-vms-background: #3D3D3D;
$input-border-color: #BBBBBB;
$core-vms-liveshare-background: #EFEFEF;
$core-home-background: #EFEFEF;
$ticker-background-color: #161616;
$ticker-background-button: #E5185E;
$accent-color: #E6195E;
$footer-background: #D6D6D6;

$separator-light: rgba(179,179,179,0.24);
$separator-strong: rgba(179,179,179,0.58);
$btn-disabled-background: rgba(179, 179, 179, 0.24);
$btn-disabled-color: #C4C4C4;

$btn-background-color: #E6195E;
$btn-background-color-hover: #E82D5E;
$btn-background-color-active: #C3154F;
