
.background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: url('/assets/img/background-gm_cloud-sign_in.png') no-repeat center fixed;
    -webkit-background-size: cover;
      background-size: cover;
}

#canvas {
    position: absolute;
    z-index: 0;
}
