<div class="admin__content-users">
    <div class="admin__content-users-title col-xs-12">
        <h1>Users</h1>
    </div>
    <div class="col-xs-12">
        <button class="btn" type="button" name="button" ng-click="ctrl.toggleAddUser()">{{ ctrl.displayListUsers ? 'Add User' : 'Cancel' }}</button>
    </div>
    <div class="col-xs-12">
        <table class="table admin__content-users-table " ng-if="ctrl.displayListUsers">
            <thead>
                <th>
                    ID
                </th>
                <th>
                    Firstname
                </th>
                <th>
                    Lastname
                </th>
                <th>
                    Email
                </th>
                <th>
                    Status
                </th>
                <th>
                    Action
                </th>
            </thead>
            <tbody>
                <tr ng-repeat="user in ctrl.users">
                    <td>
                        {{ user.id }}
                    </td>
                    <td>
                        {{ user.firstName }}
                    </td>
                    <td>
                        {{ user.lastName }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {{ ( user.isAdmin ? 'Admin' : ( user.isModerator ? 'Moderator' : (user.diggearRequest ? 'Pending Moderator' : 'User'))) }}
                    </td>
                    <td>
                        <ul class="admin__content-users-table-actions-list">
                            <li ng-click="ctrl.goToUser(user.id)" class="admin__content-users-table-actions-list-item edit">Edit</li>
                            <li ng-click="ctrl.destroyUser(user.id)" class="admin__content-users-table-actions-list-item delete">Delete</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



</div>
