.form__contact {
    background: $background;
    border-radius: 2px;
    padding: 20px;
    .form-group {
        position: relative;
        margin-bottom: 40px;
        &:focus {
        }
    }
    .form-control {
        &:focus {
            outline: 0;
            border-color: $blue;
            box-shadow: none;
            .form__contact-label {
                background: blue;
            }
        }
    }
    &-email {
        padding: 30px 10px 30px 0px;
        font-size: 2em;
        border: none;
        border-bottom: 2px solid black;
        border-radius: 0;
        background: transparent;
        box-shadow: none;
        &::placeholder {
            color: black;
        }
        &:focus , &:active {
            ~ label, &:active ~ label {
                top: -5px;
                font-size: 1em;
                color: $blue;
            }
            &.is-valid {
                border-color: $green;
            }
            &.has-error {
                border-color: $red;
            }
        }
        &:hover {
            outline: 0;
            box-shadow: none;
            .form__contact-label {
                top: 0;
                font-size: 1em;
            }
        }
        &.has-error {
            border-color: $red;
            & ~ label {
                color: $red;
            }
        }
        &.is-valid, {
            border-color: $green;
            & ~ label {
                color: $green;
            }
        }
    }
    &-label {
        position: absolute;
        top:15px;
        left:0;
        margin-bottom: 0;
        color: black;
        font-weight: 200;
        font-size: 2em;
        transition: all 0.3s ease;
        &.stuck {
            top: -5px;
            font-size: 1em;
        }
    }

    &-message {
        resize: none;
        padding: 30px 10px 30px 0px;
        font-size: 2em;
        border: none;
        border-bottom: 2px solid black;
        border-radius: 0;
        background: transparent;
        box-shadow: none;
        &:focus , &:active {
            & ~ label, &:active ~ label {
                top: -5px;
                font-size: 1em;
                color: $blue;
            }
            &.is-valid {
                border-color: $green;
                & ~ label {
                    color: $green;
                }
            }
            &.has-error {
                border-color: $red;
                & ~ label {
                    color: $red;
                }
            }
        }
        &:hover {
            outline: 0;
            box-shadow: none;
            .form__contact-label {
                top: 0;
                font-size: 1em;
            }
        }
        &.is-valid {
            border-color: $green;
            & ~ label {
                color: $green;
            }
        }
        &.has-error {
            border-color: $red;
            & ~ label {
                color: $red;
            }
        }
    }

    &-errors {
        &-generic {
            color: $red;
            font-weight: 500;
        }
        &-email, &-message {
            color: $red;
            padding-left: 0;
            font-weight: 500;
            margin-top: 10px;
        }
    }

    &-btn {
        padding: 20px;
        color: white;
        font-size: 1.3em;
        background: $orangish;
        border: none;
        border-radius: 2px;
        transition: all 0.3s ease;
        &:hover {
            background: darken($orangish, 10%);
        }
        &[disabled]{
            background: darken($background, 5%);
            color: darken($background, 10%);
        }
    }

}
