.column {
    font-family: 'Ralewat', 'sans-serif';
    &.red {
        .column {
            &__container {
                background: rgba(170, 42, 25, 0.1);
            }
            &__header {
                &-background {
                    background: rgba(170, 42, 25,1);
                }
                &-price {
                    background: rgba(170, 42, 25,1);
                }
            }
            &__body {
                background: rgba(170,42,25,0.1);
            }
        }
    }
    &.blue {
        .column{
            &__container {
                background: rgba(25, 139, 170, 0.1);
            }
            &__header {
                &-background {
                    background: rgba(25, 139, 170,1);
                }
                &-price {
                    background: rgba(25, 139, 170,1);
                }
            }
            &__body {
                background: rgba(25,139,170,0.1);
            }
        }


    }
    &__container {
        position: relative;
        z-index: -5;
        min-height: 500px;
        overflow: hidden;
        border-radius: 3px;
    }
    &__header {
        position: relative;
        font-family: 'Raleway', 'sans-serif';
        font-weight: 200;
        letter-spacing: 5px;
        &-background {
            position:absolute;
            height: 600px;
            width: 800px;
            top: -400px;
            left: -185px;
            border-radius: 50%;
            z-index: -3;
        }
        &-price {
            z-index:-2;
            position: relative;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin: 30px auto;
            padding-top: 15px;
            &-background {
                z-index: -1;
                position: absolute;
                top:18px;
                left:18px;
                width:165px;
                height: 165px;
                background: white;
                border-radius: 50%;
            }
            &-content {
                width: 200px;
                height: 200px;
                font-size: 5em;
                padding-top: 40px;
                text-align: center;
                font-family: 'Nothing You Could Do', 'cursive';
            }

        }
        h1 {
            text-align:center;
            color: white;
            margin:0;
            padding:0;
            line-height: 70px;
            height: 70px;
        }
    }
    &__body {
    }
}
