.column {
    @media only screen and (max-width: $screen-sm) {
        margin-top: 30px;
    }
    @media only screen and (max-width: $screen-xs) {
        padding: 0;
        margin-bottom: 30px;
    }
    &__container {
        position: relative;
        min-height: 500px;
        overflow: hidden;
        border-radius: 3px;
        top:0;
        left:0;
        background: white;
    }
    &__header {
        position: relative;
        font-weight: 200;
        letter-spacing: 5px;
        min-height: 200px;
        width: 100%;
        z-index: 10;
        top:0;
        left:0;
        background: $orange;
        &-price{
            width: 100%;
            transition: all 0.7s cubic-bezier(0.4,0,0.2,1);
            z-index:0;
            &-description {
                width: 100%;
                text-align:center;
                font-size: 2em;
                font-weight: 300;
                color: white;
            }
            &-body {
                padding-top: 25px;
                text-align:center;
                font-size: 4.5em;
                margin-bottom: 15px;
                color: white;
                font-weight: 500;
            }
        }
    }
    &__plus {
        width: 100%;
        height: 50px;
        font-family: 'Bahiana', 'cursive';
        text-align: center;
        font-size: 4em;
    }
    &__body {
        margin-top: 30px;
        ul {
            list-style: none;
            margin:0;
            padding: 0px 20px 0px 20px;
            li {
                width: 100%;
                height: 40px;
                line-height: 40px;
                font-weight: 200;
                font-size: 1.5em;
            }
        }
        &-features-price {
            margin: 30px 0px 20px 0px;
            text-align: center;
            font-size: 7em;
            color: darken($orange, 10%);
            font-family: 'Bahiana', 'cursive';
        }
    }
}
