.pricing__table {
    &-musicians {
        margin-bottom: 50px;
        &-container {
            display: block;
            text-align:center;
            background-color: #fff;
            border-radius: 5px;
            font-size: 30px;
        }
        &-counter {
            position: relative;
            height: 75px;
            color: #333C48;
            text-align: center;
            overflow: hidden;
            margin:0;
            background: #fff;
            border-bottom: 1px solid $pinkish;
            border-top: 1px solid $pinkish;
            padding: 0;
            &-num {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                line-height: 75px;
                visibility: visible;
                opacity: 1;
                transition: opacity 100ms ease-in;
            }
        }
        &-button {
            line-height: 75px;
            text-align: center;
            color: #fff;
            cursor: pointer;
            background-color: $pinkish;
            transition: background-color 100ms ease-in;
            &:hover {
                background-color: mix($pinkish, #fff, 90%);
                transition: background-color 100ms ease-in;
            }

            &:active {
                background-color: mix($pinkish, #000, 90%);
                transition: background-color 100ms ease-in;
            }

            &--decrement {
                border-radius: 5px 0 0 5px;
            }

            &--increment {
                border-radius: 0 5px 5px 0;
            }
        }
    }
}
