.menu, menu {
    height: 70px;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 90;
    position:fixed;
    top: 0;
    left: 0;
    background: #fff;
    &__logo {
        position: relative;
        width: 50%;
        &-filter {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 70px;
            background: rgba(241, 196, 15, 0.80);
            -webkit-clip-path: polygon(0% 0%, 44.3% 0%, 50% 100%, 0% 100%);
        }
        &-title {
            padding-left: 10px;
            color: #fff;
            height: 70px;
            line-height: 70px;
            font-size: 2em;
            &:hover {
                cursor: pointer;
            }
        }
    }
    &__list {
        position: relative;
        height: 60px;
        width: 50%;
        padding-right: 50px;
        &-filter {
            position: absolute;
            top:0;
            right:0;
            width: 100%;
            height: 70px;
            background: #27AE60;
            -webkit-clip-path: polygon(20% 100%, 50% 30%,100% 0%, 100% 100%);
        }
        &-item {
            float:right;
            display: inline-block;
            line-height: 70px;
            font-size: 1em;
            padding: 0 20px 0px 20px;
            font-family: 'Roboto Light', sans-serif;
            transition: all 0.3s ease;
            color: white;
            text-shadow: 1px 2px 1px rgba(0,0,0,0.4);
            &:hover {
                cursor: pointer;
                background: rgba(120,120,120,0.3)
            }
        }
    }
    &__signin-modal {
        &-container {
            .modal-dialog {
                margin-top: 100px;
                width: 350px;
            }
            .modal-content {
                padding-bottom: 15px;
            }
        }
        h2 {
            margin-top: 0;
        }
        &-btn {
            border-radius: 0;

        }


    }
}
