menu {
    height: 60px;
    width: 100%;
    position: fixed;
    width: 100%;
    color: $light-text-color;
    margin: 0;
    padding: 0;
    z-index: 1020;

    .menu__container-emulator-liveshare, .default {
        background: #fff;
        width: 100%;
        height: 60px;
        box-shadow: 0px 5px 15px rgba(0,0,0,0.2);

        .menu__logo-img {
            margin-left: 20px;
            width: 140px;
            height: 60px;
            background: url('/assets/img/logo-genymotion-liveshare.svg') no-repeat top center;
            background-position: 0 50%;
        }

        .admin {
            background: url('/assets/img/ic_admin_default.svg') no-repeat top center;
            opacity: 0.5;
            transition: all 0.3s ease;
            &:hover {
                cursor: default !important;
                // background: url('/assets/img/ic_admin_hover.svg') no-repeat top center;
            }
        }

        .profile {
            background: url('/assets/img/ic_profile_liveshare_default.svg') no-repeat top center;
            transition: all 0.3s ease;
            &:hover {
                background: url('/assets/img/ic_profile_liveshare_hover.svg') no-repeat top center;
            }
        }

        .carrot{
            background: url('/assets/img/ic_toggle_down_liveshare_default.svg') no-repeat top center;
            transition: all 0.3s ease;
        }

        .menu__nav-dropdown-trigger {
            &:hover {
                .carrot{
                    background: url('/assets/img/ic_toggle_down_liveshare_hover.svg') no-repeat top center;
                }
            }
        }

        a {
            color: #FFF;
        }

    }

    .menu__container-emulator-default {
        background: $accent-color;
        width: 100%;
        height: 60px;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.4);

        .menu__logo-img {
            margin-left: 20px;
            width: 140px;
            height: 60px;
            background: url('/assets/img/logo-genymotion-default.svg') no-repeat top center;
            background-position: 0 50%;
        }

        .profile {
            background: url('/assets/img/ic_profile_default.svg') no-repeat top center;
            transition: all 0.3s ease;
            &:hover {
                background: url('/assets/img/ic_profile_hover.svg') no-repeat top center;
            }
        }

        .carrot{
            background: url('/assets/img/ic_toggle_bottom_default.svg') no-repeat top center;
            transition: all 0.3s ease;
        }

        .menu__nav-dropdown-trigger {
            &:hover {
                .carrot{
                    background: url('/assets/img/ic_toggle_bottom_hover.svg') no-repeat top center;
                }
            }
        }
        a {
            color: #FFF;
        }

    }

    .menu__container-home, .menu__container-admin, .menu__container-profile {
        background: #161616;
        width: 100%;
        height: 60px;

        .menu__logo-img {
            margin-left: 20px;
            width: 140px;
            height: 60px;
            background: url('/assets/img/logo-genymotion-default.svg') no-repeat top center;
            background-position: 0 50%;
        }

        &-title {
            width: 300px;
            line-height: 55px;
            font-size: 1.4em;
            color: white;
            margin-left: 15px;
            font-family: 'Roboto Light', sans-serif;
        }

        &-icon {
            margin-top: 20px;
            margin-left: 20px;
            width: 15px;
            height: 15px;
            background: url('/assets/img/ic_back_default.svg') no-repeat top center;
            transition: all 0.3s ease;
            &:hover {
                cursor: pointer;
                background: url('/assets/img/ic_back_hover.svg') no-repeat top center;
            }
        }

        .profile {
            background: url('/assets/img/ic_profile_default.svg') no-repeat top center;
            transition: all 0.3s ease;
            &:hover {
                background: url('/assets/img/ic_profile_hover.svg') no-repeat top center;
            }
        }

        .carrot{
            background: url('/assets/img/ic_toggle_bottom_default.svg') no-repeat top center;
            transition: all 0.3s ease;
        }

        .menu__nav-dropdown-trigger {
            &:hover {
                .carrot{
                    background: url('/assets/img/ic_toggle_bottom_hover.svg') no-repeat top center;
                }
            }
        }

        .menu__nav-action-bar-item {
            color: $primary-text-color;
            &-profile {
                &-resume {
                    width:100%;
                    min-height: 100px;
                    padding: 10px;
                    font-size: 0.8em;
                    font-family: 'Roboto Light', sans-serif;
                    border-bottom: 1px solid $light-text-color;
                    &-img{
                        padding:0;
                        img{
                            border-radius: 50%;
                            width: 30px !important;
                            height: 30px;
                        }
                    }
                    &-data {
                        padding-left: 10px;
                    }
                    button {
                        margin: 10px auto;
                        font-size: 0.8em;
                        padding: 6px 12px;
                        text-transform: uppercase;
                    }
                }
                &-actions {
                    color: $primary-text-color;
                    font-family: 'Roboto Light', sans-serif;
                    font-size: 0.8em;
                    ul {
                        min-height: 30px;
                        margin:0;
                        li {
                            height: 30px;
                            line-height: 30px;
                            width: 100%;
                            margin:0;
                            padding-left: 10px;
                            &:hover {
                                cursor: pointer;
                                background: rgba(220,220,220,0.4);
                            }
                        }
                    }
                }
            }
            .dropdown-menu {
                border: none;
                min-width: 220px;
                border-radius: 2px;
                top:30px;
                padding: 0;
            }
        }

    }

    .menu__logo--left{
        width:190px;
        height: 60px;
        font-size: 1.2em;
        line-height: 55px;
        img {
            width: 130px;
            margin-left: 20px;
        }
    }

    .menu__nav-dropdown--left {
        height: 60px;
        float:left;
        position: relative;
        text-align:left;
        padding-left: 20px;
        line-height: 60px;
        z-index: 1021;
        .menu__nav-dropdown-trigger{
            height: 60px;
            &:hover {
                cursor: pointer;
            }
        }
        .menu__nav-dropdown-item , a {
            position: relative;
            font-size: 1.2em;
            font-weight: 100;
            text-decoration: none;
        }
        .menu__nav-dropdown-img {
            width: 15px;
            height: 15px;
            margin-left: 15px;
            margin-top: 23px;
        }
        .menu__nav-dropdown-container {
            position: relative;
            background: white;
            top: -45px;
            left: 0;
            padding: 0;
            min-height: 50px;
            box-shadow: 1px 2px 10px rgba(0,0,0,0.5);
            ul {
                list-style: none;
                padding: 0px;
                margin:0px;
                li {
                    position: relative;
                    height: 30px;
                    line-height: 30px;
                    color: black;
                    margin:5px 0px 5px 0px;
                    padding: 0 20px 0 20px;
                    .carrot-li{
                        position: absolute;
                        width: 15px;
                        height: 15px;
                        top:10px;
                        right: 10px;
                        background: url('/assets/img/ic_toggle_down_liveshare_default.svg') no-repeat top center;
                        transition: all 0.3s ease;
                    }
                    &:hover {
                        cursor: pointer;
                        background: rgba(220,220,240,0.2);
                    }
                    &:first-child{
                        &:hover {
                            background: transparent;
                            .carrot-li {
                                background: url('/assets/img/ic_toggle_down_liveshare_hover.svg') no-repeat top center;
                            }
                        }
                    }
                }
            }
        }
    }

    .menu__nav-action-bar--right {
        height: 60px;
        float: right;
        .menu__nav-action-bar {
            &-list-container {
                list-style: none;
                margin:0px 20px 0px 0px;
                padding: 0px;
                height: 60px;
                .admin {
                    margin-top: 17px;
                }
                li{
                    float: left;
                    height: 30px;
                    min-width: 20px;
                    margin: 15px 5px 0px 5px;
                    img{
                        display: inline-block;
                        margin:auto;
                        width: 20px;
                        vertical-align: none;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.menu__my-resources{
    background: #161616;
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 2;
    top: 60px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4);

    ul {
        list-style: none;
        margin-bottom: 0;
        margin-left: 160px;
        li {
            display: inline-block;
            vertical-align: top;
            height: 40px;
            padding: 0px 10px 0px 10px;
            line-height: 35px;
            margin-right: 30px;
            color: white;
            font-weight: 600;
        }
    }
    &-item {
        &:hover {
            cursor: pointer;
        }

        &.active {
            border-bottom: 3px solid #E5185E;
        }
    }
}
