.menu, menu {
    height: 40px;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    top:0;
    left: 0;
    z-index: 90;
    &__list {
        height: 40px;
        &-item {
            display: inline-block;
            line-height: 40px;
            height: 40px;
            font-size: 0.8em;
            padding: 0 20px 0px 20px;
            font-family: 'Roboto Light', sans-serif;
            transition: all 0.3s ease;
            &:hover {
                cursor: pointer;
                background: rgba(120,120,120,0.3)
            }
        }
    }
    &__signin-modal {
        &-container {
            .modal-dialog {
                margin-top: 100px;
                width: 350px;
            }
            .modal-content {
                padding-bottom: 15px;
            }
        }
        h2 {
            margin-top: 0;
        }
        &-btn {
            border-radius: 0;

        }


    }
}
