<div class="row">
    <div class="col-xs-12">

        <div class="form-group" ng-class="{'has-error': ctrl.form.userPassword.$dirty && ctrl.form.userPassword.$invalid, 'has-success': ctrl.form.userPassword.$valid}">
            <div class="input-group">
                <div class="reset__password-input-img"></div>
                <input styling-form type="password" name="userPassword" ng-model="ctrl.user.password" class="reset__password-input form-control" id="password" placeholder="Password" password-strength required>
                <div ng-if="ctrl.form.userPassword.$dirty" class="user__form-error-message--bottom-right messages" ng-messages="ctrl.form.userPassword.$error" role="alert">
                    <div ng-messages-include="/src/common/form/errors/form-errors.html"></div>
                </div>
                <div ng-if="ctrl.errors.passwordMissing" class="messages" ng-messages="ctrl.errors" role="alert">
                    <div ng-messages-include="/src/common/form/errors/form-errors.html"></div>
                </div>

            </div>
        </div>

    </div>

    <div class="col-xs-12">
        <div class="form-group" ng-class="{'has-error': ctrl.form.userConfirmedPassword.$dirty && ctrl.form.userConfirmedPassword.$invalid, 'has-success': ctrl.form.userConfirmedPassword.$valid}">
            <div class="input-group">
                <div class="reset__password-input-img"></div>
                <input styling-form type="password" name="userConfirmedPassword" ng-model="ctrl.user.confirmedPassword" class="reset__password-input form-control" id="confirm-password" placeholder="Confirm Password" password-comparison="password" required ng-disabled="!ctrl.form.userPassword.$valid">
                <div ng-if="ctrl.form.userConfirmedPassword.$dirty" class="user__form-error-message--bottom-right messages" ng-messages="ctrl.form.userConfirmedPassword.$error" role="alert">
                    <div ng-messages-include="/src/common/form/errors/form-errors.html"></div>
                </div>
            </div>
        </div>
    </div>


</div>
