.ticker {
    position: fixed;
    bottom:75px;
    left:0;
    z-index: 1034;
    width: 100%;
    &__liveshare{

        &-container{
            padding:10px;
            height: 60px;
            color: white;
            background: $ticker-background-color;
            border-radius: 3px;
            box-shadow: 0px 3px 10px rgba(0,0,0,0.6);
        }


        &-img--left {
            float:left;
            width: 20px;
            height: 100%;
            min-height: 100%;
            line-height: 40px;
            overflow: hidden;
            margin-right: 15px;
            margin-left: 10px;
        }

        &-title--left{
            line-height: 20px;
            color: $accent-color;
            float:left;
            height: 100%;
            min-height: 100%;
            line-height: 40px;
            margin-right: 15px;
        }

        &-content--left{
            float: left;
            height: 100%;
            min-height: 100%;
            line-height: 40px;
        }

        &-button--right {
            float:right;
            font-size: 1em;
            padding: 9px 25px;
            background: $ticker-background-button;
        }

    }

}
