<div class="admin">

    <div class="admin__menu col-xs-12 col-sm-2">
        <div class="admin__menu-logo col-xs-12">
            Remind<span class="strong">Rewind</span>
        </div>
        <ul class="admin__menu-list col-xs-12">
            <li class="admin__menu-list-item" ui-sref="remindRewind.admin.posts.many">Posts</li>
            <li class="admin__menu-list-item" ui-sref="remindRewind.admin.artists">Artists</li>
            <li ng-if="ctrl.me.isAdmin" class="admin__menu-list-item" ui-sref="remindRewind.admin.users.many">Users</li>
        </ul>
    </div>

    <div class="admin__content col-xs-12 col-sm-10 col-sm-offset-2" ui-view="admin"></div>

</div>
