.home {
    .remindrewind {
        font-family: 'Bahiana', cursive;
        letter-spacing: 5px;
        font-size: 1em;
    }
    .orange {
        color: $orange;
    }
    &__header {
        position: relative;
        padding: 0;
        height: 100vh;
        color: white;
        background: url('/assets/img/header_bg.jpg') no-repeat top center;
        background-color: #6E4F6A;
        background-size: cover;
        &-title {
            margin-top: 30vh;
            text-align:left;
            text-shadow: 1px solid black;
            font-size: 4em;
            font-weight: 800;
            transform: translate3d(-2%,-2%,0);
            opacity: 0;
            animation: appear 2s cubic-bezier(.47,.01,0,1.01) forwards 0.5s;
            animation-delay: 0.5s;
        }
        &-body {
            margin-top: 10px;
            font-size: 1.5em;
            font-weight: 200;
            text-align:left;
            letter-spacing: 1px;
            transform: translate3d(2%,-2%,0);
            opacity: 0;
            animation: appear 2s cubic-bezier(.47,.01,0,1.01) forwards 1s;
            animation-delay: 1s;
            &-btn {
                display: inline-block;
                margin-top: 5vh;
                padding: 11px 32px 11px 32px;
                text-decoration: none;
                text-align: center;
                font-weight: 100;
                font-size: 1.5em;
                color: white;
                border: none;
                background: darken($blue, 10%);
                border-radius: 30px;
                opacity: 0;
                transform: translate3d(0%, 50%,0);
                animation: appear 2s cubic-bezier(.47,.01,0,1.01) forwards 1.5s;
                transition: background 0.5s ease;
                &:hover, &:focus {
                    text-decoration: none;
                    color: white;
                    background: darken($blue, 15%);
                    cursor: pointer;
                }
            }
        }
    }
    &__streamline {
        position: relative;
        height: 85vh;
        padding-top: 15vh;
        &-body {
            color: white;
            &-title {
                text-align: center;
                font-weight: 300;
                font-size: 4em;
                &-big {
                    font-weight: 800;
                    color: $orange;
                }
            }
            &-content {
                margin-top: 40px;
                padding: 0px 40px 0px 40px;
                font-weight: 300;
                font-size: 2em;
                text-align: justify;
            }
        }
        &-filter {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -2;
            width: 100%;
            height: 85vh;
            background: rgba(0,0,0,0.7);
        }
        &-img {
            position: absolute;
            top:0px; right: 0;
            z-index: -3;
            width: 100%;
            height: 85vh;
            background: $background;
            background: url('/assets/img/neve2.jpg') no-repeat top center;
            background-size: cover;
            background-position: 0% -50px;
        }
    }
    &__descr {
        position: relative;
        padding-top: 120px;
        padding-bottom: 100px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 1px 10px 0 rgba(0, 0, 0, 0.06);
        &::before {
          content: '';
          position: absolute;
          z-index: 1;
          top: -10vh;
          left: 0;
          width: 100%;
          height: 150px;
          transform: skewY(-5deg);
          background: $background;
        }
        &-card {
          position: relative;
          margin-bottom: 70px;
          padding: 10px 20px 30px 20px;
          color: $primary-text;
          background: white;
          box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12) !important;
          &.music {
            &::before {
              content: '';
              position: absolute;
              z-index: 1;
              top: 19px;
              left: 0;
              height: 75px;
              width: 100%;
              border-radius: 5px;
              background: -webkit-linear-gradient(right,#de599c,#752995);
              transform: scale(0);
              transition: all 0.3s ease-in-out;
            }
          }
          &.record {
            &::before {
              content: '';
              position: absolute;
              z-index: 0;
              top: 19px;
              left: 0;
              height: 75px;
              width: 100%;
              border-radius: 5px;
              background: -webkit-linear-gradient(left,black, $red);
              transform: scale(0);
              transition: all 0.2s ease-in-out;
            }
          }
          &.price {
            &::before {
              content: '';
              position: absolute;
              z-index: 0;
              top: 19px;
              left: 0;
              height: 75px;
              width: 100%;
              border-radius: 5px;
              background: -webkit-linear-gradient(right,#F7CA4A,#F7724A);
              transform: scale(0);
              transition: all 0.2s ease-in-out;
            }
          }
          &.share {
            &::before {
              content: '';
              position: absolute;
              z-index: 0;
              top: 19px;
              left: 0;
              height: 75px;
              width: 100%;
              border-radius: 5px;
              background: -webkit-linear-gradient(left,#3E80F7,#36D6BD);
              transform: scale(0);
              transition: all 0.2s ease-in-out;
            }
          }
          &:hover {
            cursor: pointer;
            &.music {
              &::before {
                transform: scale(1.1);
              }
              .home__descr-card-music-pastille{
                transform: translateY(-10px);
              }
            }
            &.record {
              &::before {
                transform: scale(1.1);
              }
              .home__descr-card-record-pastille{
                transform: translateY(-10px);
              }
            }
            &.price {
              &::before {
                transform: scale(1.1);
              }
              .home__descr-card-price-pastille{
                transform: translateY(-10px);
              }
            }
            &.share {
              &::before {
                transform: scale(1.1);
              }
              .home__descr-card-share-pastille{
                transform: translateY(-10px);
              }
            }
            .home__descr-card-music-title {
              background: white;
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;
            }
            .home__descr-card-record-title {
              background: white;
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;
            }
            .home__descr-card-price-title {
              background: white;
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;
            }
            .home__descr-card-share-title {
              background: white;
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;
            }
          }
          &-music {
            &-title {
              position: relative;
              z-index: 10;
              @media only screen and (max-width: $screen-xs) {
                color: black;
              }
              color: $purple;
              background: -webkit-linear-gradient(right,#de599c,#752995);
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;
              font-weight: 900;
              font-size: 2.5em;
              margin-top: 25px;
              text-transform: capitalize;
              letter-spacing: -1px;
              transition: all 0.2s ease-in-out;
            }
            &-text {
              font-size: 1.5em;
              margin-top: 30px;
              margin-bottom: 30px;
            }
            &-pastille {
              position: absolute;
              bottom: -32px;
              left: 41%;
              width: 65px;
              height: 65px;
              background: white;
              border-radius: 50%;
              transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
              &-img {
                display: block;
                width: 65px;
                margin: 0px auto;
                height: auto;
              }
            }
          }
          &-share {
            &-title {
              position: relative;
              z-index: 10;
              color: $yellow;
              background: -webkit-linear-gradient(left,#3E80F7,#36D6BD);
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;
              font-weight: 900;
              margin-top: 25px;
            //   font-size: 2.5em;
              text-transform: capitalize;
              letter-spacing: -1px;
              transition: all 0.2s ease-in-out;
            }
            &-text {
              font-size: 1.5em;
              margin-top: 30px;
              margin-bottom: 30px;
            }
            &-pastille {
              position: absolute;
              bottom: -30px;
              left: 41%;
              width: 65px;
              height: 65px;
              background: white;
              border-radius: 50%;
              transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
              &-img {
                display: block;
                width: 65px;
                margin: 0px auto;
                height: auto;
              }
            }
          }
          &-price {
            &-title {
              position: relative;
              z-index: 10;
              color: $yellow;
              background: -webkit-linear-gradient(right,#F7CA4A,#F7724A);
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;
              font-weight: 900;
            //   font-size: 3em;
            margin-top: 25px;
              text-transform: capitalize;
              letter-spacing: -1px;
              transition: all 0.2s ease-in-out;
            }
            &-text {
              font-size: 1.5em;
              margin-top: 30px;
              margin-bottom: 30px;
            }
            &-pastille {
              position: absolute;
              bottom: -30px;
              left: 41%;
              width: 65px;
              height: 65px;
              background: white;
              border-radius: 50%;
              transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
              &-img {
                display: block;
                width: 65px;
                margin: 0px auto;
                height: auto;
              }
            }
          }
          &-record {
            &-title {
              position: relative;
              z-index: 10;
              color: $yellow;
              background: -webkit-linear-gradient(left,#000000 10%,$red 30%);
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;
              font-weight: 900;
            //   font-size: 3em;
                margin-top: 25px;
              text-transform: capitalize;
              letter-spacing: -1px;
              transition: all 0.2s ease-in-out;
            }
            &-text {
              font-size: 1.5em;
              margin-top: 30px;
              margin-bottom: 30px;
            }
            &-pastille {
              position: absolute;
              bottom: -30px;
              left: 41%;
              width: 65px;
              height: 65px;
              background: white;
              border-radius: 50%;
              transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
              &-img {
                display: block;
                width: 65px;
                margin: 0px auto;
                height: auto;
              }
            }
          }
        }
    }
    &__tarif {
        // padding-top: 60px;
        z-index: -5;
        color: black;
        position: relative;
        background: white;
        @media only screen and (max-width: $screen-sm ) {
            margin-top: -130px;
        }
        @media only screen and (max-width: $screen-xs) {
            margin-top: -130px;
        }
        &-title {
            font-size: 5em;
            font-family: 'Bahiana', 'cursive';
            text-align: center;
            @media only screen and (min-width: $screen-lg) {
                font-size: 7em;
            }
            @media only screen and (max-width: $screen-sm) {
                font-size: 6em;
            }
            @media only screen and (max-width: $screen-xs) {

            }
        }
        &-subtitle {
            text-align: center;
            font-weight: 200;
            @media only screen and (min-width: $screen-lg) {
                font-size: 3em;
            }
            @media only screen and (max-width: $screen-sm) {
                font-size: 2em;
            }
            @media only screen and (max-width: $screen-xs) {
                font-size: 2em;
            }
        }
    }
    &__contact {
        color: white;
        height: 900px;
        position: relative;
        margin-top: -150px;
        padding-top: 250px;
        padding-bottom: 200px;
        clip-path: polygon(0% 0%, 0% 100% , 100% 100%, 100% 0%, 50% 20%, 0% 0%);
        &-title {
            display: block;
            font-family: 'Bahiana', 'cursive';
            text-align:center;
            font-size: 3em;
            margin-top: 60px;
            @media only screen and (min-width: $screen-lg) {
                font-size: 9em;
            }
            @media only screen and (max-width: $screen-xs) {
                margin-top: 30px;
            }
        }
        h3 {
          padding-left: 0;
        }
        &-bg {
            z-index: -2;
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 900px;
            background: url('/assets/img/microphone-4.jpg') no-repeat top center;
            background-size: cover;
        }
    }
}
