<div class="home">
    <div class="home__post-featured col-xs-12">
        <div ng-click="ctrl.goToPost(ctrl.featuredPosts[ctrl.featurePostRandom].id,ctrl.featuredPosts[ctrl.featurePostRandom].artist.name, ctrl.featuredPosts[ctrl.featurePostRandom].author)" class="home__post-featured-btn hidden-xs"></div>
        <div class="home__post-featured-filter hidden-xs"></div>
        <img ng-src="{{ ctrl.featuredPosts[ctrl.featurePostRandom].artist.albums[0].images[0].url }}" alt="" />
        <div class="home__post-featured-content col-xs-12 col-sm-5">
            <h1>{{ ctrl.featuredPosts[ctrl.featurePostRandom].title }}</h1>
            <h2>{{ ctrl.featuredPosts[ctrl.featurePostRandom].artist.name}}</h2>
        </div>
        <button ng-click="ctrl.goToPost(ctrl.featuredPosts[ctrl.featurePostRandom].id,ctrl.featuredPosts[ctrl.featurePostRandom].artist.name, ctrl.featuredPosts[ctrl.featurePostRandom].author)" class="home__post-featured-content-btn-xs col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 visible-xs-inline-block"type="button" name="button">
            <div class="home__post-featured-content-btn-xs-filter">
                View Article
            </div>
            View Article
        </button>
    </div>

    <div class="home__post-latest col-xs-12">
        <div class="home__post-latest-filter"></div>
        <div class="home__post-latest-filter-2"></div>
        <img class="home__post-latest-img col-xs-12 col-sm-5 col-md-5" ng-src="{{ ctrl.posts[0].artist.albums[0].images[0].url }}" alt="" />
        <div class="home__post-latest-content col-xs-12 col-sm-7 col-md-7">
            <h1 class="home__post-latest-content-title">{{ ctrl.posts[0].title }}</h1>
            <h2 class="home__post-latest-content-artist">{{ ctrl.posts[0].artist.name }}</h2>
            <button ng-click="ctrl.goToPost(ctrl.posts[0].id, ctrl.posts[0].artist.name, ctrl.posts[0].author)" class="home__post-latest-content-btn col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4"type="button" name="button">
                <div class="home__post-latest-content-btn-filter">
                    View Article
                </div>
                View Article
            </button>
        </div>
    </div>
    <div class="clearfix"></div>


    <div class="home__post-articles col-xs-12">
        <div class="home__post-articles-filter"></div>
        <div class="home__post-articles-title">
            <h1>Articles</h1>
        </div>
        <div ng-if="$index > 0"  ng-class="{'col-sm-offset-1': $index % 2 !== 0}" class="col-xs-12 col-sm-5" ng-repeat="post in ctrl.posts">
            <div ng-click="ctrl.goToPost(post.id, post.artist.name, post.author)" class="home__post-article col-xs-12 shadow-1">
                <div class="home__post-article-metadata col-xs-12 col-sm-12 col-md-6 col-lg-5">
                    <div class="home__post-article-metadata-img-wrapper ">
                        <img class="home__post-article-img shadow-1" ng-src="{{ post.artist.albums[0].images[1].url }}" alt="" />
                    </div>

                    <div class="home__post-article-metadata-text">
                        <h3 class="home__post-article-metadata-artist">{{ post.artist.name }}</h3>
                    </div>
                </div>
                <div class="home__post-article-content col-xs-12 hidden-xs hidden-sm col-sm-5 col-md-6 col-lg-7">
                        <h2 class="home__post-article-content-title">{{ post.title }}</h2>
                        <div marked="post.content | limitTo: 150" class="home__post-article-content-body "></div>
                        <span class="hidden-md">{{ post.date }} by {{post.author.firstName}}</span>
                </div>
            </div>
        </div>
    </div>

</div>
<remind-footer></remind-footer>
