.home {
    &__header {
        position: relative;
        padding: 0;
        padding-top: 70px;
        height: 720px;
        color: white;
        @media only screen and (min-width: $screen-lg) {
            height: 1000px;
        }
        @media only screen and (max-width: $screen-sm) {
            height: 750px;
        }
        @media only screen and (max-width: $screen-xs){
            height: 500px;
        }
        &-img {
            position: absolute;
            top:0; left:0;
            z-index: -1;
            width: 100%;
            height: 720px;
            background: url('/assets/img/header_bg.jpg') no-repeat top center;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
            background-size: cover;
            @media only screen and (min-width: $screen-lg) {
                height: 1000px;
            }
            @media only screen and (max-width: $screen-sm ) {
                height: 850px;
            }
            @media only screen and (max-width: $screen-xs) {
                height: 600px;
            }
        }
        &-title {
            font-family: 'Bahiana', cursive;
            margin-top: 120px;
            text-align:center;
            text-shadow: 1px solid black;
            font-size: 8em;
            @media only screen and (min-width: $screen-lg) {
                font-size: 10em;
            }
            @media only screen and (max-width: $screen-lg) {
                margin-top: 70px;
                font-size: 6.5em;
            }
            @media only screen and (max-width: $screen-sm) {
                margin-top: 60px;
                font-size: 6em;
            }
            @media only screen and (max-width: $screen-xs) {
                margin-top: 40px;
                font-size: 4em;
            }
        }
        &-body {
            margin-top: 30px;
            padding: 0px 40px 0px 40px;
            font-size: 1.5em;
            font-weight: 200;
            text-align:justify;
            letter-spacing: 5px;
            @media only screen and (min-width: $screen-lg) {
                margin-top: 50px;
                padding: 0px 80px 0px 80px;
                font-size: 3em;
                text-align: center;
            }
            @media only screen and (max-width: $screen-lg) {
                font-size: 2em;
                padding: 0px 20px 0px 20px;
            }
            @media only screen and (max-width: $screen-sm) {
                padding: 5px 80px 0px 80px;
                font-size: 2.5em;
            }
            @media only screen and (max-width: $screen-xs) {
                padding: 0px 20px 0px 20px;
                text-align: center;
                font-size: 1.5em;
            }
            &-btn {
                margin-top: 60px;
                padding: 30px;
                text-decoration: none;
                text-align: center;
                font-weight: 500;
                font-size: 2em;
                color: white;
                background: darken($green, 10%);
                border-radius: 2px;
                transition: background 0.5s ease;
                font-family: 'Bahiana', cursive;
                letter-spacing: 3px;
                font-size: 3em;
                @media only screen and (min-width: $screen-lg) {
                    font-size: 4em;
                    padding: 30px 20px 30px 20px;
                }
                @media only screen and (max-width: $screen-lg) {
                    padding: 20px;
                    font-size: 2em;
                }
                @media only screen and (max-width: $screen-sm) {
                    margin-top: 120px;
                    padding: 30px;
                    font-size: 3em;
                }
                @media only screen and (max-width: $screen-xs) {
                    padding: 10px;
                    font-size: 2em;
                    margin-top: 30px;
                }
                &:hover, &:focus {
                    text-decoration: none;
                    color: white;
                    background: $green;
                    cursor: pointer;
                }
            }
        }
    }
    &__deaf {
        position: relative;
        height: 700px;
        padding: 0;
        color: black;
        margin-top: -100px;
        padding-top: 50px;
        @media only screen and (min-width: $screen-lg) {
            height: 900px;
            padding-top: 100px;
        }
        @media only screen and (max-width: $screen-lg) {
            padding-top: 100px;
        }
        @media only screen and (max-width: $screen-sm) {
            margin-top: 0px;
            height: 850px;
        }
        @media only screen and (max-width: $screen-xs) {
            height: 850px;
        }
        &-body {
            z-index: -3;
            margin-top: 20px;
            padding-top: 40px;
            color: $text-color;
            &-title {
                text-align: center;
                font-weight: 100;
                @media only screen and (min-width: $screen-lg) {
                    font-size: 6em;
                }
                @media only screen and (max-width: $screen-sm) {
                    font-size: 6em;
                }
                @media only screen and (max-width: $screen-xs) {
                    font-size: 4em;
                }
            }
            &-content {
                margin-top: 40px;
                padding: 0px 40px 0px 40px;
                font-weight: 300;
                font-size: 1.5em;
                text-align: justify;
                @media only screen and (min-width: $screen-lg) {
                    font-size: 2em;
                    margin-top: 75px;
                }
                @media only screen and (max-width: $screen-sm) {
                    font-size: 2.2em;
                }
                @media only screen and (max-width: $screen-xs) {
                    padding: 0px 10px 0px 10px;
                    font-size: 1.5em;
                }
            }
        }
        &-img {
            position: absolute;
            top:0px; right: 0;
            z-index: -3;
            width: 100%;
            height: 700px;
            background: $background;
            // background: url('/assets/img/headphones.jpg') no-repeat top center;
            // background-size: cover;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 85%, 0% 100%);
            @media only screen and (min-width: $screen-lg){
                height: 900px;
            }
            @media only screen and (max-width: $screen-sm){
                height: 850px;
            }
            @media only screen and (max-width: $screen-xs) {
                height: 850px;
            }
        }
    }
    &__tarif {
        margin-top: -120px;
        padding-top: 60px;
        z-index: -5;
        color: black;
        position: relative;
        min-height: 500px;
        padding-bottom: 100px;
        background: $background;
        @media only screen and (max-width: $screen-sm ) {
            margin-top: -130px;
        }
        @media only screen and (max-width: $screen-xs) {
            margin-top: -130px;
        }
        &-title {
            margin-top: 50px;
            margin-bottom: 30px;
            font-size: 5em;
            font-family: 'Bahiana', 'cursive';
            text-align: center;
            @media only screen and (min-width: $screen-lg) {
                font-size: 7em;
            }
            @media only screen and (max-width: $screen-sm) {
                font-size: 6em;
            }
            @media only screen and (max-width: $screen-xs) {

            }
        }
        &-subtitle {
            text-align: center;
            font-weight: 200;
            margin: 0 0 30px 0;
            @media only screen and (min-width: $screen-lg) {
                font-size: 3em;
                margin-top: 20px;
                margin-bottom: 60px;
            }
            @media only screen and (max-width: $screen-sm) {
                font-size: 2em;
            }
            @media only screen and (max-width: $screen-xs) {
                font-size: 2em;
            }
        }
    }
    &__contact {
        color: white;
        height: 900px;
        position: relative;
        margin-top: -150px;
        padding-top: 250px;
        padding-bottom: 200px;
        clip-path: polygon(0% 0%, 0% 100% , 100% 100%, 100% 0%, 50% 20%, 0% 0%);
        &-title {
            display: block;
            font-family: 'Bahiana', 'cursive';
            text-align:center;
            font-size: 5em;
            margin-top: 120px;
            @media only screen and (min-width: $screen-lg) {
                font-size: 9em;
            }
            @media only screen and (max-width: $screen-xs) {
                margin-top: 30px;
            }
        }
        &-bg {
            z-index: -2;
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 900px;
            background: url('/assets/img/microphone-4.jpg') no-repeat top center;
            background-size: cover;
        }
    }
}
