.home{
    &__post-featured {
        position:relative;
        padding: 0;
        height: 610px;
        overflow: hidden;
        &-btn {
            position: absolute;
            top:40%;
            left:34.99%;
            width: 25%;
            height: 25%;
            z-index:1;
            background: rgba(241, 196, 15, 1);
            -webkit-clip-path: polygon(0 0, 0% 100%, 13% 50%);
            transition: all 0.3s ease;
            &:hover {
                cursor: pointer;
                transform:translateX(15px);
                background:black;
                top:42%;
                width:20%;
                height: 20%;
            }
        }
        &-filter{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            background: rgba(241, 196, 15, 0.77);
            z-index:-2;
            -webkit-clip-path: polygon(0% 0%, 25% 0%, 35% 40% , 35% 65%, 25% 100%, 0% 100%);
        }
        img {
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height:auto;
            filter: blur(10px);
            z-index: -3;
        }
        &-content {
            @media only screen and (min-width: $screen-md) {
                padding-left: 50px;
            }
            h1 {
                margin-top: 70%;
                // font-family: 'Roboto Bold', sans-serif;
                font-family: 'Rock Salt', cursive;
                line-height: 1.7em;
                font-size: 3.5em;
                text-transform: uppercase;
                text-shadow: 1px 2px 3px black;
                @media only screen and (min-width: $screen-md) {
                    margin-top: 40%;

                }
            }
            h2 {
                font-size: 3em;
                letter-spacing: 0px;
                font-family: 'Rock Salt', cursive;
            }
        }
    }
    &__post-latest {
        position: relative;
        padding-top: 30px;
        padding-bottom: 80px;
        &-filter {
            z-index: -20;
            position: absolute;
            top:0;
            right:0;
            background: #27ae60;
            width: 40%;
            height: 400px;
            -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80%);
        }
        &-title {
            padding-left: 20px;
            padding-bottom: 40px;
            h1 {
                margin:0;
            }
        }
    }
    &__post {
        position: relative;
        border-radius: 2px;
        transition: all 0.3s ease;
        overflow: hidden;
        color: white;
        margin-bottom: 20px;
        &-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            z-index: -10;
            // filter: blur(10px);
            transition: filter 0.3s ease;
        }
        &-title {
            padding: 20px;
            min-height: 110px;
            margin-top: 0px;
        }
        &-artist {
            padding:0 0 0 10px;
            height: 100%;
            min-height: 100%;
            vertical-align: center;
            padding-top: 50px;
            text-align: center;
        }

        &-author {
            position: absolute;
            bottom:10px; right: 20px;
            font-style: italic;
        }
        &:hover {
            cursor: pointer;
            background: rgba(31, 122, 190, 0.35);
            img {
                filter: blur(5px);
            }
        }
    }

    &__post {
        &-articles {
            position: relative;
            &-filter {
                position: absolute;
                top:0;
                left:0;
                z-index: -20;
                width: 100%;
                height: 100%;
                background: #8e44ad;
                -webkit-clip-path: polygon(0% 0%, 100% 0%, 70% 110%, 0% 20%);
            }
            &-title {
                margin-bottom: 50px;
                margin-left: 20px;
                color: white;
            }
        }
        &-article {
            border-radius: 2px;
            overflow:hidden;
            height: 250px;
            margin-bottom: 30px;
            &:hover {
                cursor: pointer;
                .home__post-article-metadata {
                    height: 50px;
                }
                .home__post-article-title {
                    margin-top: 5px;

                }
            }
            &-metadata {
                height: 0px;
                background: rgba(31, 122, 190,0.8);
                line-height: 50px;
                font-size: 1.2em;
                padding-left: 20px;
                color: white;
                transition: all 0.7s cubic-bezier(.55,0,.1,1);
            }
            &-content {
                padding-left: 0;
                padding-right: 0;
                background: white;
                height: 100%;
                &-title {
                    margin-top: 10px;
                    transition: all 0.7s cubic-bezier(.55,0,.1,1);
                }
                &-artist{
                    margin-bottom: 5px;
                }
                &-body {
                    margin-top: 20px;
                    font-size: 1.4em;
                }

            }
            &-img-wrapper {
                padding-left: 0;
                padding-right: 0;
                overflow:hidden;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

}
