<div class="post">

    <div class="post__head col-xs-12">
        <div class="post__head-container">
            <img ng-src="{{ ctrl.post.artist.images[0].url }}" alt="" />
            <div class="post__head-soundwave"></div>
        </div>
    </div>

    <div class="post__title col-xs-12">
        <h1>{{ ctrl.post.title }}</h1>
    </div>

    <div class="post__content col-xs-12 col-sm-8 col-sm-offset-2">
        <p>
            {{ ctrl.post.content }}
        </p>
    </div>

    <div class="post__albums-container col-xs-12">
        <div class="post__albums col-xs-12 col-sm-2 " ng-repeat="album in ctrl.post.artist.albums">
            <div class="post__albums-card shadow-1">
                <img ng-src="{{album.images[0].url}}" alt="" />
                {{ album.name }}
            </div>
        </div>
    </div>



    <div class="post__events col-xs-12 col-sm-10 col-sm-offset-1">
        <h1 class="post__event-title">Upcoming Events</h1>
        <ul class="post__events-list">
            <li class="post__events-list-item" ng-repeat="event in ctrl.post.artist.events">
                <div class="col-xs-12 col-sm-2">
                    {{event.room}}
                </div>
                <div class="col-xs-12 col-sm-5">
                    {{event.location}}
                </div>
                <div class="col-xs-12 col-sm-3">
                    {{event.date}}
                </div>
                <a class="col-xs-12 col-sm-2 btn" ng-href="{{event.songkick}}">Buy ticket</a>
            </li>
        </ul>
    </div>

</div>
<remind-footer></remind-footer>
