<div class="post">

    <div class="post__head col-xs-12">
        <div class="post__head-container">
            <img ng-src="{{ ctrl.post.artist.images[0].url }}" alt="" />
            <div class="post__head-soundwave"></div>
        </div>
    </div>

    <div class="post__title col-xs-12">
        <h1>{{ ctrl.post.title }}</h1>
    </div>

    <div marked="ctrl.post.content" class="post__content col-xs-12 col-sm-8 col-sm-offset-2 markdown">
    </div>

    <div class="post__albums-container col-xs-12">
        <div ng-class="{'closed': ctrl.albumDetail}" class="post__albums col-xs-12">
            <div ng-click="ctrl.getAlbum(album.id)" class="post__albums-item col-xs-12 col-sm-3 " ng-repeat="album in ctrl.post.artist.albums">
                <div class="post__albums-item-card shadow-1">
                    <img ng-src="{{album.images[0].url}}" alt="" />
                    {{ album.name }}
                </div>
            </div>
        </div>
        <div ng-class="{'open': ctrl.albumDetail}" class="post__albums-detail col-xs-12">
            <div class="col-xs-12">
                <audio ng-src="{{ctrl.link}}" controls autoplay>

                </audio>
            </div>
            <div class="post__albums-detail-close" ng-click="ctrl.resetAlbum()">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </div>
            <div class="post__albums-detail-img col-xs-12 col-sm-5 col-sm-offset-1">
                <img class="shadow-2" ng-src="{{ctrl.albumDetail.images[0].url}}" alt="" />
            </div>
            <div class="post__albums-detail-data col-xs-12 col-sm-5">
                <h2>{{ ctrl.albumDetail.name }}</h2>
                <h4>{{ ctrl.albumDetail.label }}</h4>
                <ul>
                    <li ng-click="ctrl.playPreview(track.preview_url)"ng-repeat="track in ctrl.albumDetail.tracks">
                        <span class="post__albums-detail-data-number">{{ track.track_number}}.</span>  {{ track.name }} <span class="post__albums-detail-data-duration">({{ track.duration | date:'mm:ss'}})</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="post__events col-xs-12 col-sm-10 col-sm-offset-1">
        <h1 class="post__event-title">Upcoming Events</h1>
        <ul class="post__events-list">
            <li class="post__events-list-item" ng-repeat="event in ctrl.post.artist.events">
                <div class="col-xs-12 col-sm-2">
                    {{event.room}}
                </div>
                <div class="col-xs-12 col-sm-5">
                    {{event.location}}
                </div>
                <div class="col-xs-12 col-sm-3">
                    {{event.date}}
                </div>
                <a class="col-xs-12 col-sm-2 btn" ng-href="{{event.songkick}}">Buy ticket</a>
            </li>
        </ul>
    </div>

</div>
<remind-footer></remind-footer>
