.menu {
    width: 100%;
    background: rgba(0,0,0,0.3);
    &__list {
        height: 60px;
        list-style: none;
        margin-bottom: 0;
        &-item{
            display: inline-block;
            height: 60px;
            width: 70px;
            text-align:center;
            line-height: 60px;
            background: rgba(0,0,0,0.4);
            a {
                color: white;
            }
        }
    }
}
