.spinner {
    position: fixed;
    top:0;
    left:0;
    min-height: 100%;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 1000;
}
.spinner-container {
      position: fixed;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 250px;
      height: 250px;
      margin: auto;

}

.part {
  width: 250px;
  position: absolute;
}

.svgpath {
  fill: rgba(145,220,90,0);
  stroke: rgba(241, 196, 15, 1);;
  stroke-width: 1.5px;
  stroke-dasharray: 1000;
  stroke-linecap: round;
  z-index: 2;
}

.svgbg {
  fill: rgba(255,255,255,0.2);
  z-index: 1;
 }

#playload {
  animation: dash 2.5s reverse cubic-bezier(.25,.49,.79,.6) infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 2000;
  }
}
