<div class="signup">
    <div class="signup__title col-xs-12 col-sm-4 col-sm-offset-4">
        <h1>Signup</h1>
    </div>
    <div class="signup__form-container col-xs-12 col-sm-4 col-sm-offset-4">
        <form class="signup__form " name="signupForm" ng-submit="ctrl.confirm(ctrl.user)">
            <div class="form-group">
                <label for="">Firstname</label>
                <input ng-model="ctrl.user.firstName" type="email" name="email" class="form-control signup__form-input-firstname" value="">
            </div>
            <div class="form-group">
                <label for="">Lastname</label>
                <input ng-model="ctrl.user.lastName" type="email" name="email" class="form-control signup__form-input-lastname" value="">
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input ng-model="ctrl.user.email" type="email" name="email" class="form-control signup__form-input-email" value="">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input ng-model="ctrl.user.password" type="password" name="password" class="form-control signup__form-input-password" value="">
            </div>
            <div class="form-group">
                <button type="submit" class="signup__form-btn btn col-xs-12 col-sm-6">Send</button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>

</div>
