.wave {
    padding: 15px;
    overflow: hidden;
    height: 100px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    svg {
        position: absolute;
        left: 50%;
        top: 15%;
        fill: #eda642;
    }
    &-button {
        border: none;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin-top:10px;
        margin-right: 15px;
        background: $orange;
        color: white;
        transition: all 0.3s ease;
        padding: 0;
        .fa-play {
            padding-left: 8px;
        }
        &:hover {
            background: darken($orange, 10%);
        }
        &:active, &:focus {
            outline: 0;
        }
        &.pause {
            background: #ECECEC;
        }
        &.playing {
            background: #e67e22;
        }

    }
}
