<div class="admin__content-artists">
    <div class="col-xs-12">
        <h1>Artists</h1>
    </div>

    <form name="artistSearchForm" ng-submit="ctrl.searchArtist()" class="admin__content-artists-form col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="">Search</label>
            <input ng-model="ctrl.artistToSearch" type="text" name="firstname" class="form-control admin__content-users-form-input" value="">
        </div>
        <div class="form-group">
            <button type="submit" class="col-sm-6 btn">Search</button>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
