<div class="admin__content-artists">
    <div class="col-xs-12">
        <h1>Artists</h1>
    </div>

    <div class="admin__content-artists-search col-xs-12 col-sm-8 col-md-6">
        <label for="">Search</label>
        <div class="admin__coontent-artists-search-container">
            <input ng-change="ctrl.searchArtist()" ng-model="ctrl.artistToSearch" type="text" name="firstname" class="form-control admin__content-artists-search-input pull-left" >
            <button ng-click="ctrl.saveArtist(ctrl.artistToSave)" ng-if="ctrl.artistToSave" class="admin__content-artists-search-btn btn pull-left" type="button" name="Save">Save !</button>
        </div>
    </div>
    <div class="clearfix"></div>

    <div ng-show="ctrl.searchResult.length > 0 || ctrl.noArtistFound" ng-class="{'open': (ctrl.searchResult.length > 0) || ctrl.noArtistFound}" class="admin__content-artists-results col-xs-12">
        <ul class="admin__content-artists-results-list">
            <li class="admin__content-artists-results-list-item" ng-if="ctrl.noArtistFound">{{ctrl.noArtistFound}}</li>
            <li ng-click="ctrl.selectArtist(artist)" class="admin__content-artists-results-list-item" ng-repeat="artist in ctrl.searchResult">
                {{ artist.name }}
            </li>
        </ul>
    </div>

    <div class="admin__content-artists-saved col-xs-12">
        <h3>List</h3>
        <div class="admin__content-artists-saved-list">
            <div ng-click="ctrl.goToArtist(artist)" class="admin__content-artists-saved-list-item-container col-xs-12 col-sm-4 col-md-2" ng-repeat="artist in ctrl.artists">
                <div class="admin__content-artists-saved-list-item">
                    <img ng-src="{{artist.images[2].url}}" alt="" />
                    {{ artist.name }}
                </div>
            </div>
        </div>
    </div>

</div>
