.modal__header, .modal__footer {
    border: none;
}

.modal__header {
    img {
        float:left;
        margin-right:10px;
        width: 18px;
    }
    &-title {
        font-size: 1em;
        font-weight: 700;
    }
}

.modal__body {
    &-content {
        font-size: 1em;
    }
}

.modal__footer {
    .btn {
        text-transform: uppercase;
    }
}



/****** BOOTSTRAP OVERLOAD *****/

.modal-dialog {
    @media (min-width: $screen-sm-min) {
        margin-top: 250px;
    }
    .modal-content {
        border-radius: 2px;
        padding: 15px 15px 0px 15px;
    }
}
