<div class="modal__header modal-header">
    <img ng-if="ctrl.options.img" ng-src="{{ctrl.options.img}}" alt="" />
    <h2 class="modal__header-title modal-title" ng-bind="ctrl.options.title"></h2>
</div>
<div class="modal__body modal-body">
    <p class="modal__body-content" ng-bind="ctrl.options.content"></p>
</div>
<div class="modal__footer modal-footer">
    <button class="modal__footer-btn-no btn" type="button" ng-click="ctrl.cancel()" ng-bind="ctrl.options.cancel" ng-if="ctrl.options.cancel"></button>
    <button class="modal__footer-btn-yes btn" type="button" ng-click="ctrl.confirm()" ng-bind="ctrl.options.confirm"></button>
</div>
