<div class="admin__content-user">
    <div class="admin__content-user-infos col-xs-12">
        <h1>{{ ctrl.user.firstName }} {{ ctrl.user.lastName }}</h1>
        <ul>
            <li>Email: {{ ctrl.user.email }}</li>
            <li>Role: {{ ctrl.user.isAdmin ? 'Admin' : ctrl.user.isModerator ? 'Moderator': 'User' }}</li>
            <li>
                <label for="">Moderator</label>
                <input ng-click="ctrl.promoteUser(ctrl.user.id, ctrl.user.isModerator)" type="checkbox" name="name" ng-model="ctrl.user.isModerator">
            </li>
        </ul>
    </div>

    <div ng-if="ctrl.user.isAdmin || ctrl.user.isModerator" class="admin__content-user-posts col-xs-12">
        <h3>Posts</h3>
        <table class="table admin__content-users-table ">
            <thead>
                <th>
                    ID
                </th>
                <th>
                    Title
                </th>
                <th>
                    Likes
                </th>
            </thead>
            <tbody>
                <tr ng-repeat="post in ctrl.user.posts">
                    <td>
                        {{ post.id }}
                    </td>
                    <td>
                        {{ post.title }}
                    </td>
                    <td>
                        {{ post.likes }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
